.nav.container {
    position: relative;
    background-color: #0e0f2e;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.nav.container2 {
    height: 60%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.nav.container2 img {
    height: 100%;
}

#menuDesplegado a,
.container_list_vertical a {
    color: rgb(165, 165, 165);
    transition: color ease 0.5s;
    font-family: 'Varela Round', sans-serif;
    font-size: 90%;
}

#menuDesplegado a:hover,
.container_list_vertical a:hover {
    color: white;
    transition: color ease 0.5s;
    cursor: pointer;
}

@media (min-width:770px) {
    .nav.container2:first-child {
        margin-right: 0;
    }

    #menuDesplegado {
        display: block;
        margin-left: 0;
    }

    #menuDesplegado ul {
        display: flex;
        padding: 0;
    }

    #menuDesplegado ul a {
        padding: 10px 10px;
    }

    #menuDesplegado a:hover {
        border-bottom: 2px solid white;
    }

    .container_list_vertical,
    .nav.container2#menuHam {
        display: none;
    }
}

@media (max-width:770px) {
    .nav.container {
        justify-content: space-between;
    }

    #menuDesplegado {
        display: none;
    }

    .nav.container2#menuHam {
        display: flex;
    }

    .nav.container2#menuHam i {
        font-size: 35px;
        height: min-content;
        cursor: pointer;
        transition: color ease 0.5s;
        color: rgb(189, 189, 189);
    }

    .nav.container2#menuHam i:hover {
        color: white;
        transition: color ease 0.5s;
    }

    .container_list_vertical {
        position: static;
        margin-top: -300px;
        transition: all 1s ease;
        z-index: 0;
    }

    .container_list_vertical ul {
        position: static;
        z-index: 5;
        background-color: #0e0f2e;
        color: white;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .container_list_vertical ul a {
        position: static;
        z-index: 5;
        padding: 10px 35px;
        display: block;
        color: rgb(165, 165, 165);
        transition: color ease 0.5s;
        font-family: 'Varela Round', sans-serif;
        font-size: 90%;
    }

    .container_list_vertical ul a:last-child {
        padding: 10px 35px 20px 35px;
    }

    .container_list_vertical ul a:hover {
        color: white;
        transition: color ease 0.5s;
        cursor: pointer;
    }

    .active{
        margin-top: 0;
    }


    .activeSubmenu{
        margin-top: 0 !important; 
        opacity: 100 !important;
        z-index: 0 !important;
        background-color: #6B6B70;
    }

    .nav.submenu{
        position: relative;
        z-index: -1;
        margin-top: -80px;
        opacity: 0;
        transition: opacity 0.5s ease, margin 0.5s ease;
        transition-delay: 0.5s, 0s;
    }

    #contactoSubmenu{
        margin-top: -100px;
    }

    #productosSubmenu{
        margin-top: -400px;
    }

    .nav.submenu a{
        position: static;
        z-index: 0;
    }

    .nav.submenu a:last-child{
        padding: 10px 35px;
}