<div class="nav container">
    <div class="nav container2" id="logo"> <img src="../../public/img/ASICA-final_LOGO_S.A-de-C.V.png" alt=""></div>
    <div class="nav container2" id="menuDesplegado">
        <ul>
            <a>Inicio</a>
            <a>Acerca</a>
            <a>Blog</a>
            <a>Servicios</a>
            <a>PYME</a>
            <a>Productos</a>
            <a>Partners</a>
            <a>Contacto</a>
        </ul>
    </div>
    <div class="nav container2" id="menuHam"> <i class="fa-solid fa-bars"></i> </div>
</div>

<div class="container_list_vertical" id="vertical">
    <ul>
        <a>Inicio</a>
        <a>Acerca</a>
        <a>Blog</a>
        <a>Servicios</a>
        <a>PYME</a>
        <a>Productos</a>
        <a>Partners</a>
        <a>Contacto</a>
    </ul>
</div>

<script src="../../public/js/nav.js"></script>