<div class="nav container">
    <div class="nav container2" id="logo"> <img src="../../public/img/ASICA-final_LOGO_S.A-de-C.V.png" alt=""></div>
    <div class="nav container2" id="menuDesplegado">
        <ul>
            <a>Inicio</a>
            <a>Acerca</a>
            <a>Blog</a>
            <a>Servicios</a>
            <a>PYME</a>
            <a>Productos</a>
            <a>Partners</a>
            <a>Contacto</a>
        </ul>
    </div>
    <div class="nav container2" id="menuHam"> <i class="fa-solid fa-bars"></i> </div>
</div>

<div class="container_list_vertical" id="vertical">
    <ul>
        <a>Inicio</a>
        <a>Acerca</a>
        <a id="blogMenu">Blog</a>
        <div class="nav submenu" id="blogSubmenu">
            <a>Noticias</a>
            <a>Infografías</a>
        </div>
        <a>Servicios</a>
        <a>PYME</a>
        <a id="productoMenu">Productos</a>
        <div class="nav submenu" id="productosSubmenu">
            <a>Analitica</a>
            <a>ISaaS</a>
            <a>HUNTRESS</a>
            <a>Gremlin</a>
            <a>BitNinja</a>
            <a>Saint</a>
            <a>Infraestructura</a>
            <a>PYMES</a>
            <a>Gobierno</a>
            <a>Soluciones Administrativas</a>
            <a>Banca y Finanzas</a>
        </div>
        <a>Partners</a>
        <a id="contactoMenu">Contacto</a>

        <div class="nav submenu" id="contactoSubmenu">
            <a>Crear ticket de soporte</a>
            <a>Formulario de Contacto</a>
            <a>Bolsa de Empleo</a>
        </div>
    </ul>
</div>

<script src="../../public/js/nav.js"></script>